p {
	font-family: "Calibri";
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border: 3px solid green;
	padding: 0px;
}

#bio {
	margin: auto;
	width: 95%;
	border: 3px solid navy;
	padding: 10px;
	text-align: center;
}