img {
	border-radius: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
}

a {
	color: black;
	background-color: lightblue;
	font-size: 20pt;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	background-color: #29A624;
}

h1 {
	text-align: center;
}

#next {
	display: block;
	float: left;
	width: auto;
}

#previous {
	display: block;
	float: right;
	width: auto;
}

.links {
	flex-direction: column;
}