#navbar {
	margin: 0px;
	padding: 0px;
	position: fixed;
	width: 100%;
	height:100%;
}

.col {
	padding: 0px;
	margin: 0px;
}

.row {
	padding: 0px;
	margin: 0px;
}

.container-fluid {
	padding: 0px;
	margin: 0px;
}

#profile-image {
	margin: auto;
	max-height: 75vh;
}

#navbar {
	margin: 0px;
	padding: 0px;
	position: fixed;
	width: 100%;
	height:100%;
}

#navbar a {
	height: 25vh;
	font-size: 2vw;
	color: black;
	border: 2% solid black;
}

.proj {
	border: 1px solid black;
}

#start-proj {
	border-right: hidden;
}

#end-proj {
	border-left: hidden;
}

.section {
	margin-bottom: 10%;
	min-height: 100vh;
}

#home {
	min-height: 50vh;
}

p {
	font-size: 2vw;
}

li {
	font-size: 2vw;
}

h1 {
	font-size: 4vw;
}

h2 {
	font-size: 3vw;
}

.footer-image {
	max-width: 25.5vw;
	margin: auto;
}

#contact {
	min-height: 33vh;
}

#nav-home {
	background-color: lightgreen;
}
